* {
  font-family: Arial;
}

p {
  font-size: 24px;
  font-weight: 500;
}

input {
  display: block;
  margin-top: 10px;
  background-color: floralwhite;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 250px;
  border: none;
}

.destination {
  margin-bottom: 30px;
}

button {
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
}

.request-btn {
  background-color: black;
  color: white;
}