*{
  font-family: Arial;
}

.search-box {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 24px;
  border-radius: 8px;
  width: 300px;
  border-style: solid;
  border-color: lightgrey;
}